/* vendor */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;
  
}
body{
    font-family: 'Gelion', sans-serif;
color: #035755;
overflow-x: hidden;
background: #fff ;
transition: 3s;
}
span{

    font-weight: 700;
    font-size: 2rem;
    line-height: 39.04px;
    color:#FA5652
}
p{
    color: #000
}
h2{
    font-size: 2.5rem;
    color: #035755 !important;
    font-weight: 700
}
.card{
    cursor: pointer;
}
/* font */
@import url(font/fonts/fonnts.com-Gelion-Regular.ttf);
/* navbar*/
#Covid{
    display: inline-block;
    margin-right: 500px;
    margin-left: 5px;
    width: 150px; 

    text-align: center;
    justify-content: center;

    white-space: nowrap;
    overflow: hidden;
}

#navbarScroll ul{
 
   
}
#navbarScroll ul li a{
  
   padding-left: 20px;


}
#navbarScroll button{
    margin-left: 20px;
}
#over{
    color: #FB4C47;
 


}
#over:hover{
    color: #000
}

/* header */
header{

color: #035755;
}
header .container-fluid a{
    color: #035755;
    line-height: 21.59px;
    font-size: 18px;
    font-weight: 400;
    transition: .5s;
}
header .container-fluid a:hover{
    color:#FA5652
}
header .container-fluid a img{
    width: 63px;
    height: 63px;
}
/* img-header */

.header{
  margin-top: 150px;
width: 70%;
margin-left: 150px;
}
#Covid{
    color: #035755;
    position: relative;
}

.header button{
    background-color: #FB4C47;
    color: aliceblue;
    font-size: 1rem;
    font-weight: 700;
    padding:10px 30px;
    border-radius:50px ;
    border: 1px solid #FB4C47;

}
/* img-2 */
.continar2 .card{

    margin-top: 50px;
    margin-left: 100px;
   
    
}
.continar2 .card img{
    margin-left: 100px;
    width: 60%

}
.continar2 .text{
    margin-top: 100px;
    width: 50%;
    margin-left: 100px;

}

.continar2 .text button{
    background: transparent;
    border: 1px solid transparent;

}
.continar2 .text button a{
    text-decoration: none;
    color: #FA5652;
}
/*  Contagion*/
.mora{
    margin: 100px auto;
    text-align: center;
    width: 30%;
    flex-wrap: wrap;
}
.continar3 .card{
    margin: 10px 20px;
    text-align: center;
}
.img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* What should we do */
.continar4 .card {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.continar4 .card img{
    width: 50%;
    margin: 10px 50px;

}
.continar4{
    background: url(img/bg-footer.jpg) !important;
}

.continar4 .text{
    margin-top: 100px;
    width: 50%;
    margin-left: 200px;
  
}
.continar4 .text h2{
    text-align: center;
}
.continar4 span{
    font-size: 3rem;
}
/* footer */
.mora .text h2{
    color: #0C6C44 !important;

}
.mora button{
    background-color: #FB4C47;
    color: aliceblue;
    font-size: 1rem;
    font-weight: 700;
    padding:10px 30px;
    border-radius:50px ;
    border: 1px solid #FB4C47;

}
.mora input{
    background: #fff;
    padding: 5px 50px;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid transparent;
    outline: none;
}
.mora .input{
    margin-top: 100px;
}
/* fotter nav */
footer{

    color: #035755;
    }
    footer  ul li a:hover{
        color: #FB4C47;
        

    }

    footer .container-fluid a{
        color: #035755;
        line-height: 21.59px;
        font-size: 18px;
        font-weight: 400;
        transition: .5s;
    }
    footer .navbar-brand {
       
    }
    footer img{
        width: 50px;
    }
#UTUBE{
    color: red;
}
/* animation */
.navbar-brand img{
    animation: animate 2s infinite;
}
@keyframes animate{
    0% {
        transform: scale(1);
}
50%{
    transform: scale(1.3);
}
100%{
    transform: scale(1);
}
}
/* covid animation */
#Covid::before{
    content: "";
    position: absolute;
    height: 30px;
    width: 2px;
    background:#035755 ;
   
    right: -8px;
    top: 50%;
transform: translateY(-45%);
animation:  blink 1s infinite;
}
@keyframes blink{
    50%{
        opacity: 0;
    }

}
#Covid .stop-blink::before{
    animation: none;

}
/* navbar animation */
#navbarScroll ul li a{
    position: relative;

}

#navbarScroll ul li a::before{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 0;
    height: 1px;
    background: #FA5652;
    transition: all 1s ;

}
#navbarScroll ul li a:hover::before{
    width: 100%;
}
/* DarMode */
#theme-switch{
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border: 1px solid transparent;
}
.DarkMode{
    transition: 1s;
}
#theme-switch svg{
    fill: #fff;

}
#theme-switch svg:last-child{
    display: none;
}
.DarkMode #theme-switch svg:first-child{
    display: none;
}
.DarkMode #theme-switch svg:last-child{
    display: block;
}
.DarkMode{
    background: #000 !important;
    transition: 1s;
}
.DarkMode .card {
    background-color: #000; 
    color: #e0e0e0;
    transition: 1s;
}
.DarkMode p{
    color: #fff;
}
.DarkMode #over:hover{
    color: #fff
}
@media (max-width:767px){
    .mora .img img{
        width: 530px;
    }

}
@media (max-width:767px){
    #Symptoms img{
        width: 530px;
    }

}